{% extends "base.html.twig" %}

{% block title %} Home {% endblock %}

{% block pageName %}Home{% endblock %}
{% block pageDescription %}
    <h2>Welcome on Sortir.com</h2>
    <hr class="my-1">
    <p>Here start the fun with ENI !!!</p>
    <p class="lead">
        {% if app.user %}
        {% else %}
        <a class="btn btn-warning btn-lg" href="{{ url('app_login') }}" role="button">Login</a>
        {%  endif %}
    </p>
{% endblock %}

{% block body%}
    <div class="col-9 py-5 mx-auto">
        <div class="mb-4">
            {% if app.user %}
                <div class="mb-2 text-center" >
                    <h2><u>Outings :</u></h2>
                    <a class="col-5 my-5 btn btn-warning btn-lg" href="#">Plan an outing</a>
                </div>
                <div class="jumbotron">
                    <form class="form-row">
                        {{ form_start(form) }}
                        <div class="col">
                            {{ form_widget(form.name, {'attr': {'name': 'name', 'class': 'form-control', 'placeholder' : 'Search by name'}}) }}
                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-warning">
                                Search
                            </button>
                        </div>
                    </form>

                </div>

                {% if outings is defined %}

                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Date of the event</th>
                            <th scope="col">End of inscriptions</th>
                            <th scope="col">Max participants</th>
                            <th scope="col">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for outing in outings %}
                            <tr>
                                <td width="200">{{ outing.name }}</td>
                                <td width="200">{{ outing.startingTime|date('d-m-Y à H:i') }}</td>
                                <td width="200">{{ outing.maxDateInscription|date('d-m-Y à H:i') }}</td>
                                <td width="200">{{ outing.maxNbInscriptions }}</td>
                                <td width="200"><a href="#">See details</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    No outings found
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}