{% extends "base.html.twig" %}

{% block title %} Home {% endblock %}

{% block pageName %}Home{% endblock %}
{% block pageDescription %}
    <h2>Welcome on Sortir.com</h2>
    <hr class="my-1">
    <p>Here start the fun with ENI !!!</p>
    <p class="lead">
        {% if app.user %}
        {% else %}
        <a class="btn btn-warning btn-lg" href="{{ url('app_login') }}" role="button">Login</a>
        {%  endif %}
    </p>
{% endblock %}

{% block body%}
    <div class="col-9 py-4 mx-auto">
        <div class="mb-4">
            {% if app.user %}
                <div class="mb-2 text-center" >
                    <h2><u>Outings :</u></h2>
                    <a class="col-5 my-5 btn btn-warning btn-lg" href="{{ url('outing_add') }}">Plan an outing</a>
                </div>
                <div class="jumbotron py-4">
                    <form class="row">
                        {{ form_start(form) }}
                        <div class="col-6">
                            <div class="border pt-3">
                                <div class="col">
                                    <select name="campus" class="form-control mb-3">
                                        <option value="0">--Choose a campus--</option>
                                        {% for camp in listCampus %}
                                            <option value="{{ camp.id }}">{{camp.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="col">
                                    {{ form_widget(form.name, {'attr': {'name': 'name', 'class': 'form-control  mb-3', 'placeholder' : 'Search by name'}}) }}
                                </div>
                            </div>
                            <div class="border pt-3">
                                <div class="col">
                                    Between
                                    {{ form_widget(form.dateMin, {'attr': {'name': 'dateMin', 'class': 'form-control  mb-3', 'type': 'date'}}) }}
                                </div>
                                <div class="col">
                                    and
                                    {{ form_widget(form.dateMax, {'attr': {'name': 'dateMax', 'class': 'form-control  mb-3', 'type': 'date'}}) }}
                                </div>
                            </div>

                        </div>
                        <div class=" border col-6">
                            <div class="my-4">
                               <input name="planner" type="checkbox" value="{{ app.user.userName }}">
                                <label >Outings where I am the planner</label>
                            </div>
                            <div class="my-4">
                                <input name="registered" type="checkbox" value="true">
                                <label >Outings I registered</label>
                            </div>
                            <div class="my-4">
                                <input name="notRegistered" type="checkbox" value="true">
                                <label >Outings I didn't registered</label>
                            </div>
                        </div>
                        <div class="mx-auto pt-4">
                            <button type="submit" class="btn btn-warning">
                                Search
                            </button>
                        </div>
                    </form>

                </div>

                {% if outings is defined %}

                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Date of the event</th>
                            <th scope="col">End of inscriptions</th>
                            <th scope="col">Campus</th>
                            <th scope="col">Planner</th>
                            <th scope="col">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for outing in outings %}
                            <tr>
                                <td width="200">{{ outing.name }}</td>
                                <td width="200">{{ outing.startingTime|date('d/m/Y à H:i') }}</td>
                                <td width="200">{{ outing.maxDateInscription|date('d/m/Y à H:i') }}</td>
                                <td width="200">{{ outing.campus.name}}</td>
                                <td width="200">
                                    <a href="{{ url('user_details_profile',{ "id": outing.planner.id }) }}">
                                        {{ outing.planner.username }}
                                    </a>
                                </td>
                                <td width="200">
                                    <a href="{{ url('outing_detail',{ "id": outing.id })}}">
                                        See details
                                    </a>
                                </td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    No outings found
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}