{% extends "base.html.twig" %}

{% block title %} Home {% endblock %}

{% block pageName %}Home{% endblock %}
{% block pageDescription %}
    <h2>Welcome on Sortir.com</h2>
    <hr class="my-1">
    <p>Here start the fun with ENI !!!</p>
    <p class="lead">
        {% if app.user %}
        {% else %}
        <a class="btn btn-primary btn-lg" href="{{ url('app_login') }}" role="button">Login</a>
        {%  endif %}
    </p>
{% endblock %}

{% block body%}
    <div class="mb-4">
        <h2 class="mb-4 text-center" >
            <u>Outings list :</u>
        </h2>

        {% if outings is defined %}
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Date of the event</th>
                    <th scope="col">End of inscriptions</th>
                    <th scope="col">Max number of inscriptions</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for outing in outings %}
                    <tr>
                        <td width="200">{{ outing.name }}</td>
                        <td width="200">{{ outing.startingTime|date('d-m-Y à H:i') }}</td>
                        <td width="200">{{ outing.maxDateInscription|date('d-m-Y à H:i') }}</td>
                        <td width="200">{{ outing.maxNbInscriptions }}</td>
                        <td width="200"><a href="#">See details</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            No outings found
        {% endif %}






    </div>
{% endblock %}