{% extends 'base.html.twig' %}

{% block title %}Add an outing{% endblock %}

{% block body %}

    <div class="col-6 py-5 mx-auto">

        <h1 class="h3 mb-3 font-weight-normal">
            Create an outing !
        </h1>

            {{ form_start(outingForm) }}

                {{ form_widget(outingForm.name,
                    {'attr': {'class': 'form-control m-1', 'placeholder' : 'Outing name'}}) }}
            <div class="border p-2 ml-2">
                <div class="col">
                    Starting time
                    {{ form_widget(outingForm.startingTime,
                        {'attr': {'class': 'form-control m-1', 'type' : 'date'}}) }}
                    <div class="text-danger">{{ form_errors(outingForm.startingTime) }}</div>
                </div>
                <div class="col">
                    Max date inscription
                    {{ form_widget(outingForm.maxDateInscription,
                        {'attr': {'class': 'form-control m-1', 'placeholder' : 'Max date inscription', 'type' : 'date'}}) }}
                    <div class="text-danger">{{ form_errors(outingForm.maxDateInscription) }}</div>
                </div>
            </div>
                {{ form_widget(outingForm.duration,
                    {'attr': {'class': 'form-control m-1', 'placeholder' : 'Duration (in minutes)', 'min' : '30',
                        'step' : '30'}}) }}
                <div class="text-danger">{{ form_errors(outingForm.duration) }}</div>

                {{ form_widget(outingForm.maxNbInscriptions,
                    {'attr': {'class': 'form-control m-1', 'placeholder' : 'Max number inscriptions', 'min' : '1'}}) }}
                <div class="text-danger">{{ form_errors(outingForm.maxNbInscriptions) }}</div>

                {{ form_widget(outingForm.outingDetails,
                    {'attr': {'class': 'form-control m-1', 'placeholder' : 'Outing details'}}) }}

            <select name="campus" class="custom-select m-1">
                <option value="">--Please choose a campus--</option>
                {% for campus in listCampus %}
                    <option value="{{ campus.id }}">{{campus.name}}</option>
                {% endfor %}
            </select>

            <select name="city" class="custom-select m-1">
                <option value="">--Please choose a city--</option>
                {% for city in listCities %}
                    <option value="{{ city.id }}">{{city.name}}</option>
                {% endfor %}
            </select>

            <select name="place" class="custom-select m-1">
                <option value="">--Please choose a place--</option>
                {% for place in listPlaces %}
                    <option value="{{ place.id }}">{{place.name}}</option>
                {% endfor %}
            </select>

        <div class="row mt-5 d-flex justify-content-center">
            <button type="submit" class="btn btn-lg btn-warning mr-2">
                Create
            </button>
            <a href="{{ url("home_home") }}" type="submit" class="btn btn-lg btn-warning">
                Cancel
            </a>
        </div>


        </div>

        {{ form_end(outingForm) }}

{% endblock %}