{% extends 'base.html.twig' %}

{% block title %}Outing details{% endblock %}

{% block body %}

<div class="col-10 py-4 mx-auto">

    <div class="mb-5 mx-auto d-flex justify-content-center">
        {% if sub %}
            <form class="mr-2" method="post" action="{{ url('inscription_unsubscribe') }}">
                <input type="text" name="outing" value="{{ outing.id }}" hidden>
                <input type="submit" class="btn btn-lg btn-warning" name="Unsubscribe" value="Unsubscribe">
            </form>
        {%  elseif outing.maxDateInscription > date() or outing.nbOfRegistrations >= outing.maxNbInscriptions %}

            <form class="mr-2" method="post" action="{{ url('inscription_add') }}">
                <input type="text" name="outing" value="{{ outing.id }}" hidden>
                <input type="submit" class="btn btn-lg btn-warning" name="Register" value="Register">
            </form>
        {% endif %}

        {% if outing.planner.username == app.user.username and outing.status.description == 'Created'%}

            <form class="mr-2" method="post" action="{{ url("outing_update") }}">
                <input type="text" name="outing" value="{{ outing.id }}" hidden>
                <input type="submit" class="btn btn-lg btn-warning" name="Update" value="Update">
            </form>
        {% endif %}

        {% if outing.planner.username == app.user.username and outing.status.description == 'Created'%}
            <form class="mr-2" method="post" action="{{ url("outing_publish") }}">
                <input type="text" name="outing" value="{{ outing.id }}" hidden>
                <input type="submit" class="btn btn-lg btn-warning" name="Publish" value="Publish">
            </form>
        {% endif %}

        <div class="mr-2">
            <a href="{{ url("home_home") }}" class="btn btn-lg btn-warning">
                Home
            </a>
            <a href="{{ url('outing_my_outings') }}" class="btn btn-lg btn-warning">
                My outings
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-8 p-4 border">
            <h1 class="h2 mb-5 font-weight-normal text-center">
                <b>"{{ outing.name }}"</b>
                <br>
                Proposed by <a href="{{ url('user_details_profile', { "id": outing.planner.id }) }}">
                    {{ outing.planner.username }}
                </a>
            </h1>
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                    <tr>
                        <th scope="row">Duration</th>
                        <td>{{ outing.duration }} minutes</td>
                    </tr>
                    <tr>
                        <th scope="row">Outing's date and hour</th>
                        <td>{{ outing.startingTime | date }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Inscription's date and hour limit</th>
                        <td>{{ outing.maxDateInscription | date }}
                            {% if outing.maxDateInscription < date() %}
                                <b class="ml-2">Registrations are closed for this outing : please contact the
                                    <a href="{{ url('user_details_profile', { "id": outing.planner.id }) }}">planner</a>
                                    for more informations</b>
                            {% elseif outing.startingTime < date()%}
                                <b class="ml-2">TOO LATE</b>
                            {% endif %}

                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Max number of registrations</th>
                        <td>{{ outing.maxNbInscriptions }} places
                            <b>
                                {% if outing.startingTime > date() %}
                                ({{ outing.maxNbInscriptions - outing.nbOfRegistrations }} registrations left)</b>
                            {% if outing.nbOfRegistrations >= outing.maxNbInscriptions %}
                                <b class="ml-2">Outing is fully booked : please contact the
                                    <a href="{{ url('user_details_profile', { "id": outing.planner.id }) }}">planner</a>
                                    for more informations</b>
                            {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Description and informations</th>
                        <td>{{ outing.outingDetails }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Campus</th>
                        <td>{{ outing.campus.name | capitalize }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Place</th>
                        <td>{{ outing.place.name }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Street</th>
                        <td>{{ outing.place.address }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Postal code</th>
                        <td>{{ outing.place.city.postalCode }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Latitude</th>
                        <td>{{ outing.place.latitude }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Longitude</th>
                        <td>{{ outing.place.longitude }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="p-4 col-4">
        {% if inscriptions is defined and inscriptions is not empty %}

                <h1 class="h3 mb-3 font-weight-normal text-center">Who's in ?</h1>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Username</th>
                            <th scope="col">Name</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for inscr in inscriptions %}
                            <tr>
                                <td width="200">
                                    <a href="{{ url('user_details_profile',{ "id": inscr.user.id }) }}">
                                        {% if inscr.user.filename %}
                                            <img src="/images/users/{{ inscr.user.filename }}" alt="profilePic" id="picPlanner">
                                        {% else %}
                                            <img src="{{ asset('images/users/user.jpg') }}" alt="profilePic" id="picPlanner">
                                        {% endif %}
                                        {{ inscr.user.username }}
                                    </a>
                                </td>
                                <td width="200">{{ inscr.user.firstname }} {{ inscr.user.lastname }}</td>
                                </td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>


        {% else  %}
                <p class="h3 m-3 font-weight-normal text-center">Be the first in and Register !</p>
                <p class="h4 mb-3 font-weight-normal text-center">Who's in ?</p>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Username</th>
                        <th scope="col">Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td id="none">none</td>
                        <td id="none">none</td>
                        </td>
                    </tr>
                    </tbody>
                </table>

        {% endif %}

        </div>
    </div>

</div>

{% endblock %}


