{% extends 'base.html.twig' %}

{% block title %}Outing details{% endblock %}

{% block body %}

<div class="col-6 py-5 mx-auto">

    <h1 class="h3 mb-3 font-weight-normal">
        {{ outing.name }} outing details !
    </h1>

    <ul>
        <li> Duration : {{ outing.duration }} minutes </li>
        <li> Outing's date and hour : {{ outing.startingTime | date }}</li>
        <li> Inscription's date and hour limit : {{ outing.maxDateInscription | date }}</li>
        <li> Max inscriptions : {{ outing.maxNbInscriptions }} places </li>
        <li> Description and informations : {{ outing.outingDetails }} </li>
        <li> Campus : {{ outing.campus.name | capitalize }} </li>
        <li> Place : {{ outing.place.name }} </li>
        <li> Street : {{ outing.place.address }} </li>
        <li> Postal code : {{ outing.place.city.postalCode }} </li>
        <li> Latitude : {{ outing.place.latitude }} </li>
        <li> Longitude : {{ outing.place.longitude }} </li>
    </ul>

</div>

{% endblock %}


