{% extends 'base.html.twig' %}

{% block title %}City index{% endblock %}

{% block body %}

<div class="col-9 py-4 mx-auto text-center">
    <div class="mb-4">
        <h1 class="mb-3 ">All cities</h1>
        <a class="btn btn-warning mb-3" href="{{ path('city_new') }}">Add</a>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">PostalCode</th>
                    <th scope="col">actions</th>
                </tr>
                </thead>
                <tbody>
                {% for city in cities %}
                    <tr>
                        <td>{{ city.id }}</td>
                        <td>{{ city.name }}</td>
                        <td>{{ city.postalCode }}</td>
                        <td>
                            <a class="mx-1" href="{{ path('city_show', {'id': city.id}) }}">Details</a>
                            <hr class="my-2">
                            <a class="mx-1" href="{{ path('city_edit', {'id': city.id}) }}">Edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">No cities found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
