{{ form_start(form) }}
    {{ form_widget(form.name) }}
    {{ form_widget(form.address) }}
    {{ form_widget(form.latitude) }}
    {{ form_widget(form.longitude) }}
    <select name="city" class="custom-select m-1">
        <option value="">--Please choose a city--</option>
        {% for city in cities %}
            <option value="{{ city.id }}">{{city.name}}</option>
        {% endfor %}
    </select>
<div class="mt-3 mx-auto d-flex justify-content-center">
    <button type="submit" class="btn btn-warning mx-1" >Save</button>
    <a  class="btn btn-warning mx-1" href="{{ path('place_index') }}">back to list</a>
</div>
{{ form_end(form) }}
