<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('css/bootstrap-sandstone.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style-menu.css') }}">
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('img/sortir-icon.png') }}">
        <title>Sortir.com | {% block title %}{% endblock %}</title>
    </head>
    <body>
    <header class="header-section d-lg-block">

        <nav class="navbar navbar-expand-lg navbar-dark py-0">
            <a class="navbar-brand" href="{{ url("home_home") }}">
                <img alt="logo" class="logo" src="{{ asset('img/sortir-logo.png') }}">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse">
                <div class="main-menu">
                    <nav class="row">
                        <ul>
                            <li class="has-dropdown">
                                <a class="active main-menu-link" href="{{ url("home_home") }}" id="menu">Home</a>
                            </li>
                            {% if app.user %}
                                <li class="has-dropdown">
                                    <a href="#">
                                        <img src="/images/users/{{ app.user.filename }}" alt="profilePic" id="picPlanner">
                                        My profile
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                    <ul class="sub-menu nolist-ul">
                                        <li><a href="{{ url("user_my_profile")}}">Update my profile</a></li>
                                        <li><a href="{{ url("app_logout") }}">Logout</a></li>
                                    </ul>
                                </li>
                                <li class="has-dropdown">
                                    <a href="#">Outings <i class="fa fa-angle-down"></i></a>
                                    <ul class="sub-menu nolist-ul">
                                        <li><a href="{{ url('outing_add') }}">Plan an outing</a></li>
                                        <li><a href="{{ url('outing_my_outings') }}">My outings</a></li>
                                    </ul>
                                </li>
                                <li class="has-dropdown">
                                    <a href="#">Admin <i class="fa fa-angle-down"></i></a>
                                    <ul class="sub-menu nolist-ul">
                                        <li><a href="{{ url('place_index')}}">Places</a></li>
                                        <li><a href="{{ url('city_index') }}">Cities</a></li>
                                        <li><a href="{{ url("app_register") }}">New User</a></li>
                                    </ul>
                                </li>
                            {% else %}
                                <li class="has-dropdown">
                                    <a class="main-menu-link" href="{{ url('app_login') }}" id="menu">Login</a>
                                </li>

                                <li class="has-dropdown">
                                    <a href="#" class="p-1">
                                        <img src="{{ asset('img/maple-syrup.png') }}"
                                             onmouseover="this.src='{{ asset('img/maple-syrup2.png') }}';"
                                             onmouseout="this.src='{{ asset('img/maple-syrup.png') }}';"
                                             alt="mapple-syrup" height="50px">

                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                    <ul class="sub-menu nolist-ul">
                                        <li>
                                            <a class="dropdown-item" href="https://www.voyagevoyage.ca/destinations/canada/raisons-canada-meilleur-pays-1.2126494">
                                                Why Canada ?
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="https://www.public.fr/News/Photos/Photos-50-stars-qui-sont-canadiennes-et-vous-ne-le-saviez-pas-1192406">
                                                Canada : So many talents !!
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="{{ asset('images/users/1560400258476.jpeg') }}">
                                                Canada : So hot !!!
                                                <img class="soHot" src="{{ asset('images/users/1560400258476.jpeg') }}" alt="profilePic" height="20px">
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        </nav>
    </header>


        {% for status, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{status}} alert-dismissible fade show text-center my-2 mx-5" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endfor %}

        <div class="jumbotron container-fluid p-0 mb-0">
            <div class="row">
                {% block home %}{% endblock %}
            </div>
        </div>
        <section class="container-fluid my-4">
            <div class="row">
                {% block body %}{% endblock %}
            </div>
        </section>
    <footer class="container-fluid py-4 pt-3">
            <div class="row">
                <div class="col-8 mx-auto">
                    <p><strong>Sortir.com</strong> est un projet réalisé au sein de &copy;ENI Ecole Informatique</p>
                    <p><strong>Team 6</strong> - Rose DORLEANS / Vincent LOREAU / Amaury PREVOST</p>
                    <p><strong>Avril 2021</strong></p>
                </div>
            </div>

    </footer>

        <script src="https://bootswatch.com/_vendor/jquery/dist/jquery.min.js"></script>
        <script src="https://bootswatch.com/_vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

    </body>
</html>
