<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name= "robots" content= "index, follow">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="twitter:card" content="Sortir.com">
        <meta property="og:title" content="Sortir.com">
        <meta property="og:type" content="website">
        <meta property="og:description" content="Sortir.com">
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('css/bootstrap-sandstone.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style-menu.css') }}">
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('img/sortir-icon.png') }}">
        <title>Sortir.com | {% block title %}{% endblock %}</title>
    </head>
    <body>
    <header class="header-section d-lg-block">

        <nav class="navbar navbar-expand-lg navbar-dark py-0">

            <!-- MOBILE -->


            <!-- icon right -->

            <div class="mobile-header-section d-block d-lg-none">
                <div class="mobile-header-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 d-flex justify-content-between align-items-center">
                                <div class="mobile-header--left">
                                    <a href="#mobile-menu-offcanvas" class="mobile-menu offcanvas-toggle">
                                        <span class="mobile-menu-dash"></span>
                                        <span class="mobile-menu-dash"></span>
                                        <span class="mobile-menu-dash"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- menu left -->

            <div id="mobile-menu-offcanvas" class="offcanvas offcanvas-leftside offcanvas-mobile-menu-section">
                <div class="mt-5 offcanvas-header text-right">
                    <div class="offcanvas-close">
                        <img src="{{ asset('img/x-mark.png') }}" alt="cross" height="30px" style="cursor:pointer">
                    </div>
                </div>
                <div class="offcanvas-mobile-menu-wrapper">
                    <div class="mobile-menu-top">

                    </div>
                    <div class="mobile-menu-center">
                        <div class="offcanvas-menu">
                            <ul>
                                {% if app.user %}
                                    <div class="mb-4" style="font-size: 12px;">
                                        <img class="mr-1 pb-1" src="{{ asset('img/connected-icon.png') }}" alt="connected" height="15px">
                                        Connected as {{ app.user.username }}
                                    </div>
                                {% endif %}
                                <li>
                                    <a class="my-2" href="{{ url("home_home") }}"><span>Home</span></a>
                                </li>
                                {% if app.user %}
                                    <li>
                                        <p><span>My Profile :</span></p>
                                        <ul class="nolist-ul">
                                            <li>
                                                <a href="{{ url('user_my_profile')}}">- Update my profile</a>
                                            </li>
                                            <li>
                                                <a href="{{ url('app_logout') }}">- Logout</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <p><span>Outings :</span></p>
                                        <ul class="nolist-ul">
                                            <li>
                                                <a href="{{ url('outing_add') }}">- Plan an outing</a>
                                            </li>
                                            <li>
                                                <a href="{{ url('outing_my_outings') }}">- My outings</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <p class="my-2"><span>Admin :</span></p>
                                        <ul class="nolist-ul">
                                            <li>
                                                <a href="{{ url('place_index')}}">- Places</a>
                                            </li>
                                            <li>
                                                <a href="{{ url('city_index') }}">- Cities</a>
                                            </li>
                                            <li>
                                                <a href="{{ url('app_register') }}">- New User</a>
                                            </li>
                                        </ul>
                                    </li>
                                {% else %}
                                    <li>
                                        <a href="{{ url('app_login') }}" id="menu">Login</a>
                                    </li>
                                {% endif %}

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <a class="navbar-brand" href="{{ url("home_home") }}">
                <img alt="logo" class="logo" src="{{ asset('img/sortir-logo.png') }}">
            </a>

            <div class="collapse navbar-collapse">
                <div class="main-menu">
                    <nav class="row">
                        <ul class="m-0">
                            <li class="has-dropdown">
                                <a class="active main-menu-link" href="{{ url("home_home") }}" id="menu">Home</a>
                            </li>
                            {% if app.user %}
                                <li class="has-dropdown">
                                    <a href="#">
                                        {% if app.user.filename %}
                                            <img src="/images/users/{{ app.user.filename }}" alt="profilePic" id="picPlanner">
                                        {% else %}
                                            <img src="{{ asset('images/users/user.jpg') }}" alt="profilePic" id="picPlanner">
                                        {% endif %}
                                        My profile
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                    <ul class="sub-menu nolist-ul">
                                        <li class="mb-3">
                                            <img class="mr-1 pb-1" src="{{ asset('img/connected-icon.png') }}" alt="connected" height="15px">
                                            Connected as {{ app.user.username }}
                                        </li>
                                        <hr class="my-2">
                                        <li><a href="{{ url("user_my_profile")}}">Update my profile</a></li>
                                        <li><a href="{{ url("app_logout") }}">Logout</a></li>
                                    </ul>
                                </li>
                                <li class="has-dropdown">
                                    <a href="#">Outings <i class="fa fa-angle-down"></i></a>
                                    <ul class="sub-menu nolist-ul">
                                        <li><a href="{{ url('outing_add') }}">Plan an outing</a></li>
                                        <li><a href="{{ url('outing_my_outings') }}">My outings</a></li>
                                    </ul>
                                </li>
                                <li class="has-dropdown">
                                    <a href="#">Admin <i class="fa fa-angle-down"></i></a>
                                    <ul class="sub-menu nolist-ul">
                                        <li><a href="{{ url('place_index')}}">Places</a></li>
                                        <li><a href="{{ url('city_index') }}">Cities</a></li>
                                        <li><a href="{{ url("app_register") }}">New User</a></li>
                                    </ul>
                                </li>
                            {% else %}
                                <li class="has-dropdown">
                                    <a class="main-menu-link" href="{{ url('app_login') }}" id="menu">Login</a>
                                </li>

                                <li class="has-dropdown">
                                    <a href="#" class="p-1">
                                        <img src="{{ asset('img/maple-syrup.png') }}"
                                             onmouseover="this.src='{{ asset('img/maple-syrup2.png') }}';"
                                             onmouseout="this.src='{{ asset('img/maple-syrup.png') }}';"
                                             alt="mapple-syrup" height="50px">

                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                    <ul class="sub-menu nolist-ul">
                                        <li>
                                            <a class="dropdown-item" href="https://www.voyagevoyage.ca/destinations/canada/raisons-canada-meilleur-pays-1.2126494">
                                                Why Canada ?
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="https://www.public.fr/News/Photos/Photos-50-stars-qui-sont-canadiennes-et-vous-ne-le-saviez-pas-1192406">
                                                Canada : So many talents !!
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="{{ asset('images/users/1560400258476.jpeg') }}">
                                                Canada : So hot !!!
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            {% endif %}
                        </ul>
                        {% if app.user %}
                            <img src="{{ asset('img/allOutingsHere.png') }}" alt="allOutingsHere" id="imgAllOutings">
                        {% endif %}
                    </nav>
                </div>
            </div>
        </nav>
    </header>




                {% for status, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{status}} alert-dismissible fade show text-center my-2 mx-5" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endfor %}

        <div class="jumbotron container-fluid p-0 mb-0">
            <div class="row banniere">
                {% block home %}{% endblock %}
            </div>
        </div>
        <section class="container-fluid my-4">
            <div class="row">
                {% block body %}{% endblock %}
            </div>
        </section>
    <footer class="container-fluid py-4 pt-3">
            <div class="row">
                <div class="col-8 mx-auto">
                    <p><strong>Sortir.com</strong> est un projet réalisé au sein de &copy;ENI Ecole Informatique</p>
                    <p><strong>Team 6</strong> - Rose DORLEANS / Vincent LOREAU / Amaury PREVOST</p>
                    <p><strong>Avril 2021</strong></p>
                </div>
            </div>

    </footer>

        <script src="{{ asset('js/jquery-3.5.1.min.js') }}"></script>
        <script src="{{ asset('js/main.js') }}"></script>
        <script src="https://bootswatch.com/_vendor/jquery/dist/jquery.min.js"></script>
        <script src="https://bootswatch.com/_vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

    </body>
</html>
