<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('img/sortir-icon.png') }}">
        <title>{% block title %}Sortir.com{% endblock %}</title>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark">
                <a class="navbar-brand" href="{{ url("home_home") }}">
                    <img alt="logo" class="logo" src="{{ asset('img/sortir-logo.png') }}">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ url("home_home") }}" id="menu">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        {% if app.user %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url("user_my_profile")}}" id="menu">My Profile</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{ url("app_logout")}}" id="menu">Logout ({{ app.user.username }})</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" id="menu">Admin</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Campus</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Cities</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ url("app_register") }}">New User</a>
                            </div>
                        </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url('app_login') }}" id="menu">Login</a>
                            </li>
                        {% endif %}
                        {% if app.user %}
                        <li class="nav-item">
                            <div class="nav-link text-white">Your are connected as : {{ app.user.username }}</div>
                        </li>
                        {% else %}
                            <li class="nav-item">
                                <div class="nav-link text-white">You are not connected</div>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </header>

        {% for status, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{status}} alert-dismissible fade show text-center" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endfor %}

        <div class="jumbotron container-fluid p-2 mb-0">
            <div class="row">
                <div class="col-8 mx-auto">
                    <h1 class="display-4">{% block pageName %}{% endblock %}</h1>
                    <p class="lead">{% block pageDescription %}{% endblock %}</p>
                </div>
            </div>
        </div>

        <section class="container-fluid mb-4">
            <div class="row">
                {% block body %}{% endblock %}
            </div>
        </section>
    <footer class="container-fluid p-2 pt-3">
            <div class="row">
                <div class="col-6 mx-auto">
                    <p><strong>Sortir.com</strong> est un projet réalisé au sein de &copy;ENI Ecole Informatique</p>
                    <p><strong>Team 6</strong> - Rose DORLEANS / Vincent LOREAU / Amaury PREVOST</p>
                    <p><strong>Avril 2021</strong></p>
                </div>
            </div>

    </footer>

        <script src="https://bootswatch.com/_vendor/jquery/dist/jquery.min.js"></script>
        <script src="https://bootswatch.com/_vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

    </body>
</html>
