{% extends 'base.html.twig' %}

{% block title %}My profile{% endblock %}

{% block body %}
    <div class="col-4 py-5 mx-auto">

        <h1 class="h3 mb-5 font-weight-normal text-center ">
            Hello {{ sessionUser.username }} ! <br>
            Here, you can update your profile !
        </h1>

    {{ form_start(userForm) }}

    {{ form_widget(userForm.username,
        {'attr': {'class': 'form-control m-1', 'placeholder' : 'Username'}}) }}
    <div class="text-danger">{{ form_errors(userForm.username) }}</div>

    {{ form_widget(userForm.lastname,
        {'attr': {'class': 'form-control m-1', 'placeholder' : 'Lastname'}}) }}
    <div class="text-danger">{{ form_errors(userForm.lastname) }}</div>

    {{ form_widget(userForm.firstname,
        {'attr': {'class': 'form-control m-1', 'placeholder' : 'Firstname'}}) }}
    <div class="text-danger">{{ form_errors(userForm.firstname) }}</div>

    {{ form_widget(userForm.phone,
        {'attr': {'class': 'form-control m-1', 'placeholder' : 'Phone'}}) }}
    <div class="text-danger">{{ form_errors(userForm.phone) }}</div>

    {{ form_widget(userForm.email,
        {'attr': {'class': 'form-control m-1', 'placeholder' : 'Email'}}) }}
    <div class="text-danger">{{ form_errors(userForm.email) }}</div>

    {{ form_widget(userForm.password.first,
        {'attr': {'class': 'form-control m-1', 'placeholder' : 'Password', 'type' : 'password', 'name' : 'password1' }}) }}
    <div class="text-danger">{{ form_errors(userForm.password.first) }}</div>

    {{ form_widget(userForm.password.second,
        {'attr': {'class': 'form-control m-1', 'placeholder' : 'Repeat Password', 'type' : 'password', 'name':'password2' }}) }}
    <div class="text-danger">{{ form_errors(userForm.password.second) }}</div>

            {% if sessionUser.campus %}
            <div class="form-control m-1">
                {{ sessionUser.campus.name }}
            </div>
            {% endif %}
            <div class="row mt-5 d-flex justify-content-center">
                <button type="submit" class="btn btn-lg btn-warning">
                   Update
                </button>
            </div>

    {{ form_end(userForm) }}



{% endblock %}